.dashboard-grid-content {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  .module-title {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  .module-content {
    padding: 20px 10px;
    box-sizing: border-box;
    height: calc(100% - 40px);
  }
}
